.root {
  @apply mb-5 relative;

  width: 285px;
  height: 314px;
}

.imageWrapper {
  @apply flex justify-center items-center;

  height: 259px;
  width: 100%;
  background-color: #f9f9f9;
}

.name {
  @apply font-GP text-13px flex-grow;
}

.price {
  @apply font-GS text-13px;
}

.oldPrice {
  @apply font-GS text-13px line-through;
}

.newPrice {
  @apply font-GS text-13px;

  color: #ef1c1c;
}

.bestTag {
  @apply absolute;

  right: 18px;
}
