.root {
  @apply flex flex-col py-4;
}

.main {
  @apply container px-4 flex flex-row pt-12;
}

.drawer {
  min-width: 320px;
}

.content {
  flex-grow: 1;
}

.text {
  @apply text-13px font-GS pb-4;

  line-height: 24px;
}

.navSort {
  @apply container flex flex-row px-4 py-2 border-black justify-between items-center font-GS text-12px my-4;

  border-top: 1px solid;
  border-bottom: 1px solid;
}

.select {
  @apply bg-transparent;
}

.productsContainer1 {
  @apply grid grid-cols-3 gap-7 py-6;
}

.infoContainer {
  @apply flex justify-between px-8 pb-12;
}

.productsContainer2 {
  @apply grid grid-rows-3 grid-cols-3 gap-7 py-6;
}
